.Item {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  margin: 0px 3px 0px 1px;
}
.Item:hover {
  background-color: #2f71cd;
}

.Item:hover p {
  color: white;
  background-color: #2f71cd;
  cursor: default;
}

.subtitleONE {
  color: #919191;
  font-size: 12;
}
.TextONE {
  color: black;
  font-weight: 700;
}

.TextTHREE {
  color: rgb(0, 19, 107);
  font-weight: 600;
  font-size: 12px;
}

.TextFOUR {
  color: rgb(0, 19, 107);
}

.rightIcon {
  height: 32px;
  margin-right: 4px;
}

.leftIcon {
  height: 32px;
  margin-left: 8px;
  margin-right: 4px;
}

.menu_arrow {
  border-left-color: rgb(255, 255, 255);
  border: 3.5px solid transparent;
  border-right: 0;
  border-left-color: #00136b;
  margin-left: 25px;
}
