.topwindowsbar {
  display: flex;
  height: 32px;
  flex-direction: row;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.winlogo {
  background: url(../../assets/winlogo.png) no-repeat center;
  background-size: cover;
  width: 55px;
  height: 98%;
  margin-right: 1px;
}
.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: #ede9d3;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 2px;
}

.toolbaritem {
  cursor: default;
  font-size: 13px;
  padding: 6px;
  border: 1px solid transparent;
}

.toolbaritem:hover {
  border-left: 1px solid white;
  border-top: 1px solid white;
  box-shadow: 1px 1px #b9b6aa;
}

.toolbaritem:active {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  box-shadow: -1px -1px #b9b6aa;
}

.toolbar_icon {
  display: flex;
  flex-direction: row;
  background: #ede9d3;
  height: 35px;
  align-items: center;
  padding: 5px;
}
.bottomwindowsbar {
  display: flex;
  flex-direction: row;
  height: 24px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  background: #ede9d3;
}

.forward {
  display: flex;
  align-items: center;
  filter: grayscale(100%);
}

.back_disabled {
  display: flex;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  filter: grayscale(100%);
  border: 1px solid transparent;
}

.back_enabled {
  display: flex;
  align-items: center;
  cursor: default;
  border: 1px solid transparent;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
}

.back_enabled:hover {
  filter: brightness(1.05);
  border: 1px solid #c2c2b7;
  box-shadow: inset 0px -6px 6px -6px #999999;
  border-radius: 5px;
}

.back_enabled:active {
  color: white;
  background-color: #e4e3dc;
  border: 1px solid #9d9d92;
  box-shadow: inset 0px -6px 6px -6px #999999;
  border-radius: 5px;
  filter: brightness(0.9);
}

.button_line {
  width: 1px;
  border: 0px;
  height: 35px;
}

.back_enabled:hover > .button_line {
  background-color: #c2c2b7;
}

.search {
  display: flex;
  align-items: center;
}
.folders {
  display: flex;
  align-items: center;
}

.go {
  padding: 0 5px;
  display: flex;
  width: 100%;
  align-items: center;
}

.goIcon:hover {
  filter: brightness(1.1);
}
.dropdownIcon:hover {
  filter: brightness(1.1);
}
.addressbar {
  display: flex;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  align-items: center;
  margin: 0 5px;
  justify-content: space-between;
}
.vertical_line {
  border-left: 1px solid #cac6af;
  height: 100%;
  margin: 0 8px;
}
