.startmenu {
  position: absolute;
  left: 0px;
  bottom: 35px;
  width: 440px;
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: rgb(66, 130, 214);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  align-items: center;
  box-shadow: rgb(0 0 0 / 50%) 2px 4px 2px;
}

.menutopbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 4px;
  background-color: white;
  padding: 6px 5px 5px;
  background: linear-gradient(
    rgb(24, 104, 206) 0%,
    rgb(14, 96, 203) 12%,
    rgb(14, 96, 203) 20%,
    rgb(17, 100, 207) 32%,
    rgb(22, 103, 207) 33%,
    rgb(27, 108, 211) 47%,
    rgb(30, 112, 217) 54%,
    rgb(36, 118, 220) 60%,
    rgb(41, 122, 224) 65%,
    rgb(52, 130, 227) 77%,
    rgb(55, 134, 229) 79%,
    rgb(66, 142, 233) 90%,
    rgb(71, 145, 235) 100%
  );
  height: 12%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  height: 79%;
}

.menubtmbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 8%;
  background: linear-gradient(
    rgb(66, 130, 214) 0%,
    rgb(59, 133, 224) 3%,
    rgb(65, 138, 227) 5%,
    rgb(65, 138, 227) 17%,
    rgb(60, 135, 226) 21%,
    rgb(55, 134, 228) 26%,
    rgb(52, 130, 227) 29%,
    rgb(46, 126, 225) 39%,
    rgb(35, 116, 223) 49%,
    rgb(32, 114, 219) 57%,
    rgb(25, 110, 219) 62%,
    rgb(23, 107, 216) 72%,
    rgb(20, 104, 213) 75%,
    rgb(17, 101, 210) 83%,
    rgb(15, 97, 203) 88%
  );
}

.greyhr {
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent 0%,
    #d2d2d2 50%,
    transparent 100%
  );
  border: 0;
}

.orangehr {
  width: 100%;
  height: 4px;
  background: linear-gradient(
    to right,
    transparent 10%,
    orange 50%,
    transparent 100%
  );
}

.bluehr {
  width: 100%;
  height: 3px;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(135, 179, 226, 0.71) 50%,
    transparent 100%
  );
  border: 0;
}

.whitehr {
  width: 97%;
  height: 3px;
  background: #6fb1f8;
  border: 0;
}

.leftmenu {
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightmenu {
  padding-left: 5px;
  width: 50%;
  height: 100%;
  background-color: #d2e5fa;
  border-left: 1px solid #a6bbd6;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-style: solid;
}

.allprograms {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  height: 30px;
  margin: 3px;
  cursor: default;
}

.allprograms:hover {
  color: white;
  background-color: #2f71cd;
}

.systemBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12;
  color: white;
  margin: 0px 5px 0px 5px;
  padding: 0px 5px 0px 5px;
  cursor: default;
}

.systemBtn:hover {
  border-radius: 5px;
  background-color: #2f71cd;
}

.systemBtnIcon {
  border-radius: 3px;
  margin-right: 3px;
}
