.icon {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: transparent;
  cursor: pointer;
}

.iconimage {
  position: absolute;
  top: 0px;
  left: 5px;
  right: 5px;
  text-align: center;
}
.iconimage_selected {
  position: absolute;
  top: 0px;
  left: 5px;
  right: 5px;
  text-align: center;
  filter: drop-shadow(0 0 blue);
  opacity: 0.8;
}

.iconimage img .iconimage_selected {
  width: 40px;
  height: 40px;
}

.iconlabel {
  position: absolute;
  bottom: 0;
  top: 48px;
  left: 0;
  right: 0;
  height: 15px;
  text-align: center;
  font-size: 12px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.iconlabel_selected {
  position: absolute;
  bottom: 0;
  top: 48px;
  left: 0;
  right: 0;
  height: 15px;
  text-align: center;
  font-size: 12px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgb(11, 97, 255);
}
.icon_overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: rgba(0, 0, 255, 0.3);
  border-radius: 3px;
}
