.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.imageContainer {
  position: relative;
  width: auto;
  height: 200px; /* Set the height of the carousel images */
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.controlButton {
  font-size: 2rem;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.controlButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #aaa;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dot.active {
  background-color: #fff;
}
