.bluebar:global {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background: linear-gradient(
    rgb(31, 47, 134) 0px,
    rgb(49, 101, 196) 3%,
    rgb(54, 130, 229) 6%,
    rgb(68, 144, 230) 10%,
    rgb(56, 131, 229) 12%,
    rgb(43, 113, 224) 15%,
    rgb(38, 99, 218) 18%,
    rgb(35, 91, 214) 20%,
    rgb(34, 88, 213) 23%,
    rgb(33, 87, 214) 38%,
    rgb(36, 93, 219) 54%,
    rgb(37, 98, 223) 86%,
    rgb(36, 95, 220) 89%,
    rgb(33, 88, 212) 92%,
    rgb(29, 78, 192) 95%,
    rgb(25, 65, 165) 98%
  );
}

.startbtn {
  background-image: url("../assets/xp_btn_norm.png");
  width: 97px;
  height: 30px;
  outline: none;
}

.startbtn:hover {
  background-image: url("../assets/xp_btn_hover.png");
}

.startbtn:active {
  background-image: url("../assets/xp_btn_clicked.png");
}

.startbtn:focus {
  outline: none;
}
